In [3]:
import pandas as pd

In [7]:
pd.read_csv('cian.csv', sep='\t')

,Number of rooms,housing_complex,total_area,living_area,kitchen_area,storey_number,whole_storey_number,Building_year,total_price,price_per_sq_meter,address,type_of_flat
0,1,Green City,35.70,14.0,10.8,25,25,2019.0,4550000,127451,"Обуховский, пер. Антокольский, 4к1",Вторичка
1,2,Петр Великий и Екатерина Великая,59.09,26.9,14.8,17,32,NaN,5353591,90601,"4 этап, сдача в 4 кв. 2019 Рыбацкое, Усть-Слав...",NaN
2,2,NaN,55.70,32.7,10.0,16,16,NaN,5850000,105027,"Рыбацкое, Караваевская ул., 22Рыбацкое",Вторичка
3,2,NaN,44.00,36.0,6.5,4,5,NaN,6000000,136364,"Коломяги, Фермское ш., 36К27Удельная",Вторичка
4,1,Дом на набережной,44.00,15.6,15.7,2,20,2018.0,6790000,154318,"Дом 5, сдан Невская застава, Общественный пер., 5",Вторичка
5,1,Дом на набережной,40.70,18.1,10.8,13,19,NaN,6818921,167541,"Дом 5, сдан Невская застава, Общественный пер., 5",NaN
6,2,Дом у ратуши,81.30,59.8,17.0,3,7,2017.0,19700000,242312,"Смольнинское, Дегтярный пер., 26",Вторичка
7,1,NaN,34.40,17.2,7.0,9,10,1995.0,4500000,130814,"Гражданка, Гражданский просп., 4Площадь Мужества",Вторичка
8,1,NaN,45.10,17.0,15.4,1,6,2007.0,4899000,108625,"Гражданка, просп. Непокоренных, 9к1Площадь Муж...",Вторичка
9,2,NaN,46.60,28.8,7.2,3,12,1975.0,4850000,104077,"Пискарёвка, просп. Маршала Блюхера, 14Лесная",Вторичка
10,2,NaN,57.98,28.1,10.2,5,14,NaN,5624060,97000,"в ЖК «Дом на Лабораторном, 23А», Дом 23А, сдач...",NaN
11,2,Граффити,57.45,29.3,13.1,19,24,NaN,6491850,113000,"Граффити, 1 очередь, корпус 1.9, сдача в 4 кв....",NaN
12,2,NaN,58.80,27.4,19.0,2,10,NaN,7565200,128660,"в ЖК «RIVIERE NOIRE (Ривьер Нуар)», Дом 2, сда...",NaN
13,1,Шуваловский,32.50,14.2,7.4,6,25,2018.0,4000000,123077,"Коломяги, ул. Лидии Зверевой, 3к1",Вторичка
14,1,NaN,35.20,19.5,8.3,4,5,1935.0,4600000,130682,"Екатерингофский, Бумажная ул., 20Нарвская",Вторичка
15,1,Шуваловский,49.50,13.6,17.2,1,18,2018.0,5550000,112121,"Коломяги, Парашютная ул., 61к4",Вторичка
16,2,NaN,59.80,38.1,8.1,1,5,1959.0,8500000,142140,"Чёрная речка, наб. Черной речки, 18Черная речка",Вторичка
17,2,NaN,65.30,33.0,11.0,18,24,2005.0,9000000,137825,"Озеро Долгое, просп. Сизова, 25Комендантский п...",Вторичка
18,1,Новая Каменка,40.70,17.0,9.0,7,21,2018.0,4250000,104423,"Корпус 2, сдан Коломяги, просп. Королева, 64к2",Вторичка
19,1,NaN,39.30,18.2,6.3,1,6,1917.0,5500000,139949,"Владимирский, Коломенская ул., 15-17Лиговский ...",Вторичка
20,2,NaN,47.00,28.4,9.0,1,5,1933.0,5500000,117021,"Лиговка-Ямская, Миргородская ул., 12Площадь Ал...",Вторичка
21,2,NaN,66.12,31.2,11.9,7,20,2017.0,6090000,92105,"в ЖК «Каменка, кв. 78А», Каменка, 1 очередь, к...",Вторичка
22,2,NaN,71.84,38.2,12.7,2,9,NaN,12380468,172334,"в ЖК «Grand House (Гранд Хаус)», Grand House, ...",NaN
23,1,Огни Залива,35.40,12.3,12.7,2,21,NaN,3970000,112147,"2 очередь, корпус 14, сдача в 2 кв. 2020 Южно-...",NaN
24,2,Клены,56.37,30.2,12.2,1,8,NaN,4819635,85500,"сдача в 3 кв. 2019 Сосновая поляна, Петергофск...",NaN
25,2,NaN,54.71,NaN,NaN,2,13,NaN,4975543,90944,"в ЖК «New Time (Нью Тайм)», Корпус 2.1, сдача ...",NaN
26,1,Орловский парк,32.50,11.0,11.2,10,12,NaN,3259750,100300,"Корпус 1А, сдача в 3 кв. 2020 Коломяги, просп....",NaN
27,2,NaN,44.40,27.6,7.3,5,9,1971.0,3900000,87838,"Оккервиль, ул. Подвойского, 29к1Улица Дыбенко",Вторичка