In [38]:
import pandas as pd

In [48]:
pd.read_csv('cian.csv', sep='\t')

,Number_of_rooms,housing_complex,total_area,living_area,kitchen_area,storey_number,whole_storey_number,Building_year,total_price,price_per_sq_meter,...,house_type,ceiling_type,porch_num,central_heating,elevator_service,elevator_passangers,emergency_condition,room1_square,room2_square,room3_square
0,1,NaN,36.40,17.2,11.4,23,24,2018.0,4139799,113731,...,NaN,NaN,NaN,NaN,2.0,2.0,NaN,17.0,NaN,NaN
1,1,ЦДС Кантемировский,40.82,15.8,15.8,1,23,2016.0,4852412,118873,...,NaN,NaN,NaN,NaN,2.0,2.0,NaN,15.0,NaN,NaN
2,1,Дом на Обручевых,43.00,18.6,12.6,2,17,2018.0,5178736,120436,...,NaN,NaN,NaN,NaN,2.0,2.0,NaN,18.0,NaN,NaN
3,2,ЦДС Кантемировский,55.78,31.5,13.3,1,23,2016.0,6321081,113322,...,NaN,NaN,NaN,NaN,2.0,2.0,NaN,13.0,NaN,NaN
4,1,Три ветра,49.00,17.8,14.8,2,13,2017.0,9261000,189000,...,Монолитный,Железобетонные,15.0,NaN,2.0,2.0,No,17.0,NaN,NaN
5,1,Кристалл Полюстрово,48.80,16.8,9.5,2,16,2017.0,4971916,101884,...,Монолитный,Железобетонные,9.0,Yes,2.0,2.0,No,16.0,NaN,NaN
6,2,NaN,57.98,28.1,10.2,5,14,NaN,5624060,97000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,NaN,34.40,17.2,7.0,9,10,1995.0,4500000,130814,...,Кирпичный,NaN,NaN,NaN,NaN,NaN,NaN,17.0,NaN,NaN
8,1,NaN,38.30,20.0,10.0,3,16,NaN,4600000,120104,...,Панельный,Железобетонные,4.0,Yes,NaN,NaN,No,20.0,NaN,NaN
9,1,NaN,45.10,17.0,15.4,1,6,2007.0,4899000,108625,...,Кирпичный,Железобетонные,2.0,Yes,NaN,NaN,No,17.0,NaN,NaN
10,2,NaN,46.60,28.8,7.2,3,12,1975.0,4850000,104077,...,Кирпичный,Железобетонные,11.0,Yes,NaN,NaN,No,16.0,11.9,NaN
11,2,NaN,49.30,29.8,8.2,1,5,1958.0,5650000,114604,...,Кирпичный,NaN,4.0,Yes,NaN,NaN,No,10.0,19.8,NaN
12,2,NaN,65.30,33.0,11.0,18,24,2005.0,9000000,137825,...,Монолитный,Железобетонные,6.0,Yes,2.0,2.0,No,18.0,15.0,NaN