In [1]:
import pandas as pd

In [10]:
pd.read_csv('cian.csv', sep='\t')

,Number of rooms,total_area,housing complex,living_area,kitchen_area,storey_number,whole_storey_number,Building year,total_price,price_per_sq_meter
0,2,62.2,Кассиопея,34.3,8.7,19,23,NaN,7990000,128457