In [1]:
import pandas as pd
import numpy as np

In [17]:
flats = pd.read_csv('database.csv',sep=',',dtype='unicode')

In [18]:
flats.columns

Index(['Building_year', 'Number_of_rooms', '_id', 'active', 'address',
       'bathroom_number', 'bathroom_separated', 'ceiling_type',
       'central_heating', 'cian_id', 'date_of_adding_to_db', 'date_of_place',
       'emergency_condition', 'house_type', 'housing_complex', 'id',
       'kitchen_area', 'latitude', 'living_area', 'longitude',
       'passengers_elevator_number', 'pic_urls', 'porch_num',
       'price_per_house_in_dst', 'price_per_house_in_dst_dynamics',
       'price_per_meter_in_dst', 'price_per_meter_in_dst_dynamics',
       'price_per_sq_meter', 'price_range', 'purchase_dynamics',
       'purchase_price', 'rent_dynamics', 'rent_dynamics_in_dst', 'rent_price',
       'rent_price_in_dst', 'room1_square', 'room2_square', 'room3_square',
       'seen_as_old', 'service_elevator_number', 'storey_number', 'total_area',
       'total_number_views', 'total_price', 'type_of_flat', 'visitors',
       'whole_storey_number', 'windows_to_street', 'сeiling_height'],
      dtype='object')

In [34]:
flats.count()

Building_year                           0
Number_of_rooms                     84337
_id                                145864
active                             145864
address                            127399
bathroom_number                     18172
bathroom_separated                  18172
ceiling_type                        17025
central_heating                     16996
cian_id                            145864
date_of_adding_to_db               145864
date_of_place                        6870
emergency_condition                 18353
house_type                          28548
housing_complex                     26695
id                                 145864
kitchen_area                            0
latitude                            80607
living_area                             0
longitude                           80607
passengers_elevator_number           1699
pic_urls                           145864
porch_num                           17621
price_per_house_in_dst              16063
price_per_house_in_dst_dynamics     16063
price_per_meter_in_dst              16063
price_per_meter_in_dst_dynamics     16063
price_per_sq_meter                  99589
price_range                         19101
purchase_dynamics                   16063
purchase_price                      16063
rent_dynamics                       16063
rent_dynamics_in_dst                16063
rent_price                          16063
rent_price_in_dst                   16063
room1_square                         7414
room2_square                         2669
room3_square                         1148
seen_as_old                         29499
service_elevator_number              1699
storey_number                      145864
total_area                          84337
total_number_views                   6885
total_price                         99589
type_of_flat                        21120
visitors                             7286
whole_storey_number                145864
windows_to_street                   10593
сeiling_height                       6032
city                               127399
dtype: int64

### Count number of adds in a region

In [19]:
address_df = flats['address'].str.replace("[","").str.replace("]","").str.replace('"',"").str.split(",",expand=True)
flats['city'] = address_df.iloc[:,0]
# msk = flats.loc[address_df.iloc[:,0] == 'Москва']
# spb = flats.loc[address_df.iloc[:,0] == 'Санкт-Петербург']
# print("Number of flats in Moscow: ", msk['address'].count())
# print("Number of flats in SPb: ", spb['address'].count())

In [32]:
flats.groupby('city')['id'].count().sort_values(ascending=False)

city
Москва                        33583
Санкт-Петербург               10082
Московская область             9919
Краснодарский край             7088
Тюменская область              4773
                              ...
Калмыкия респ.                   63
Еврейская АО                     60
Тыва респ.                       17
Карачаево-Черкесская респ.        7
Ненецкий АО                       2
Name: id, Length: 84, dtype: int64

In [33]:
flats.groupby('city')['visitors'].count().sort_values(ascending=False)

city
Москва                        817
Московская область            630
Санкт-Петербург               489
Краснодарский край            458
Ленинградская область         320
                             ...
Тыва респ.                      1
Ингушетия респ.                 1
Карачаево-Черкесская респ.      1
Ненецкий АО                     0
Магаданская область             0
Name: visitors, Length: 84, dtype: int64